@font-face {
  font-family: "Bebas Neue";
  src: url(../../Public/assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: menthox;
  src: url(../../Public/assets/fonts/menthox-menthox-400.ttf);
}
@font-face {
  font-family: Fjalla One;
  src: url(../../Public/assets/fonts/FjallaOne-Regular.ttf);
}
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background: linear-gradient(to right, #eefefc 50%, #bcfefe);
}

header {
  background-image: url(../../Public/assets/images/4.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
header .header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 30px;
}
header .containerHederMenu {
  position: absolute;
  right: -2rem;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5rem;
  height: 100vh;
  background-color: #7cfc75;
  -webkit-animation: headerMenu 2s forwards;
          animation: headerMenu 2s forwards;
  z-index: 999;
}
@-webkit-keyframes headerMenu {
  0% {
    right: -2rem;
  }
  90% {
    right: 3rem;
  }
  100% {
    right: 1rem;
  }
}
@keyframes headerMenu {
  0% {
    right: -2rem;
  }
  90% {
    right: 3rem;
  }
  100% {
    right: 1rem;
  }
}
header .containerHederMenu .headerLogo {
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: center;
}
header .containerHederMenu .headerLogo svg {
  width: 80%;
  cursor: pointer;
}
header .containerHederMenu .headerMenu ul {
  margin: 30% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Bebas Neue";
}
header .containerHederMenu .headerMenu ul li {
  line-height: 400%;
}
header .containerHederMenu .headerMenu ul li .item-menu {
  color: #645756;
  font-size: 1.5rem;
  transition: all 0.5s;
}
header .containerHederMenu .headerMenu ul li .item-menu:hover {
  color: #7cfc75;
  text-shadow: 2px 3px 5px black, 2px 3px 10px black;
}
header .containerHederMenu .Login {
  position: relative;
  color: #645756;
  font-size: 1.5rem;
  font-family: "Bebas Neue";
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  box-shadow: 0 3px 5px black;
  padding: 0.5rem 1rem;
  overflow: hidden;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
header .containerHederMenu .Login::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../../Public/assets/images/btn-create.jpg);
  background-position: center;
  background-size: 160%;
  z-index: -2;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
header .containerHederMenu .Login:hover {
  color: black;
  text-shadow: 2px 3px 5px #5fc85a, 2px 3px 20px #408a3d;
  border: 1px solid #5fc85a;
  box-shadow: 0 0 5px black;
}
header .containerHederMenu .Login:hover::before {
  opacity: 1;
}
header .title-header {
  justify-self: center;
  font-family: menthox;
  grid-column: 7/11;
  grid-row: 2/3;
  font-size: 7vw;
  background: linear-gradient(to right, #ff8085, #fd757d);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(5px 3px 7px black);
  -webkit-animation: title 1s linear forwards;
          animation: title 1s linear forwards;
  opacity: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  transition: all 0.7s;
}
header .title-header:hover {
  cursor: pointer;
  filter: drop-shadow(5px -4px 10px black);
  transform: scale(1.01);
}
@-webkit-keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .btn-header {
  color: #7cfc75;
  grid-column: 8/10;
  grid-row: 3/4;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: "Bebas Neue";
  background: transparent;
  box-shadow: -1px -1px 3px #ff8085, 5px 3px 5px #fe9194 inset, -5px -3px 5px #e87679 inset, 5px 3px 20px 2px #c56367;
  font-size: 3vw;
  cursor: pointer;
  transition: all 0.5s linear;
  transform: scale(0);
  -webkit-animation: btnHeader 1s ease-in-out forwards;
          animation: btnHeader 1s ease-in-out forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
header .btn-header:hover {
  color: #fe878b;
  text-shadow: 2px 3px 5px black, 2px 3px 10px black;
  box-shadow: -1px -1px 3px #ff8085, 8px 5px 5px #fe9194 inset, -8px -5px 5px #e87679 inset, 5px 5px 30px 6px #b55b5e;
}
@-webkit-keyframes btnHeader {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes btnHeader {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
header .sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .sticky .headerLogo {
  width: 5rem;
  height: 2.5rem;
  margin-left: 1rem;
}
header .sticky .headerMenu ul {
  width: 20%;
  flex-direction: row;
}
header .sticky .headerMenu ul li {
  margin: 0 1rem;
}
header .sticky .Login {
  top: 2rem;
  right: 2rem;
  background-color: #7cfc75;
  border: none;
  box-shadow: none;
  background-image: none;
}
header .sticky .Login:hover {
  box-shadow: 0 5px 2px black;
}

main {
  width: 100%;
  font-family: Fjalla One;
  padding: 1rem 10rem;
  background: linear-gradient(to right, #eefefc 50%, #bcfefe);
}
main .articleBox {
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 20rem;
  margin: 1rem 0;
  display: flex;
  box-shadow: 0 0 10px black;
  transition: all 0.2s linear;
}
main .articleBox:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 20px black;
}
main .articleBox .articleImg {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 50%;
  height: 100%;
}
main .articleBox .articleImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .articleBox .articleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
  width: 40%;
}
main .articleBox .articleContent h3 {
  margin-bottom: 3rem;
  font-size: calc(2rem + 0.9vw);
}
main .articleBox .articleContent p {
  font-size: calc(0.5rem + 0.5vw);
}

footer {
  font-family: Fjalla One;
  color: #004e92;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #00213d, #000428);
  height: 20rem;
  border-radius: 50% 50% 0 0;
}
footer .imgFooter {
  position: relative;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  background-image: url(../../Public/assets/images/saeid-shojaei.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-top: 1rem;
}
footer .imgFooter::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 999;
  background-color: rgba(1, 8, 67, 0.2470588235);
}
footer .title-footer {
  margin-top: 0.5rem;
  letter-spacing: 5.2px;
  text-align: center;
}
footer .text-footer {
  font-family: menthox;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 800;
}
footer .media {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 1rem;
  text-align: center;
}

@media only screen and (max-width: 567px) {
  header {
    background-position: 35% 30% !important;
    background-size: 1500px !important;
    background-repeat: no-repeat;
  }
  header .header {
    row-gap: 1px !important;
  }
  header .containerHederMenu {
    position: fixed !important;
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
    left: 0 !important;
    width: 100% !important;
    height: 3rem !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  header .containerHederMenu .headerLogo {
    width: 3rem !important;
    height: 2.5rem !important;
    margin-left: 0 !important;
  }
  header .containerHederMenu .headerMenu ul {
    width: 20% !important;
    flex-direction: row !important;
  }
  header .containerHederMenu .headerMenu ul li {
    margin: 0 0.8rem !important;
  }
  header .containerHederMenu .headerMenu ul li .item-menu {
    font-size: 0.8rem !important;
    line-height: 0;
  }
  header .containerHederMenu .Login {
    top: 2rem !important;
    right: 1rem !important;
    background-color: #7cfc75 !important;
    border: none !important;
    box-shadow: none !important;
    background-image: none !important;
    font-size: 0.8rem !important;
  }
  header .containerHederMenu .Login:hover {
    box-shadow: 0 5px 2px black !important;
  }
  .title-header {
    grid-column: 8/13 !important;
    font-size: 7vw;
    align-self: flex-end !important;
  }
  .btn-header {
    grid-column: 9/12 !important;
    align-self: center !important;
    padding: 1.5rem 0.7rem !important;
  }
}
@media only screen and (max-width: 992px) {
  main {
    padding: 1rem 1rem;
  }
}/*# sourceMappingURL=style.css.map */