main {
  width: 100%;
  font-family: Fjalla One;
  padding: 1rem 10rem;
  background: linear-gradient(to right, #eefefc 50%, #bcfefe);

  .articleBox {
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 20rem;
    margin: 1rem 0;
    display: flex;
    box-shadow: 0 0 10px black;
    transition: all 0.2s linear;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0 20px black;
    }
    .articleImg {
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      width: 50%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .articleContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 2rem;
      width: 40%;

      h3 {
        margin-bottom: 3rem;
        font-size: calc(2rem + .9vw);
      }
      p{
        font-size: calc(.5rem + .5vw);
      }
    }
  }
}
